<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>743113713840-i9j5ebr9hh2r4u8474th3398vbhj36vs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.743113713840-i9j5ebr9hh2r4u8474th3398vbhj36vs</string>
	<key>API_KEY</key>
	<string>AIzaSyAy5A4Vf0vOCgNMp8CO5TXA7xgMtTMbN-Q</string>
	<key>GCM_SENDER_ID</key>
	<string>743113713840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.upgrad.living</string>
	<key>PROJECT_ID</key>
	<string>upgrad-living</string>
	<key>STORAGE_BUCKET</key>
	<string>upgrad-living.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:743113713840:ios:59ba34fc9f6e9864f63375</string>
</dict>
</plist>